<div class="spinner" *ngIf="dataSvc.loading">
  <div class="cube1"></div>
  <div class="cube2"></div>
</div>
<div id="container" [ngClass]="{blur: dataSvc.loading}">
  <section class="todoapp">
    <header class="header">
      <app-title></app-title>
      <div *ngFor="let item of pagination;let i = index" class="pagination" (click)="switchP(i)">{{item.text}}
        <button class="destroy" (click)="removeP(item)"></button>
      </div>
      <button class="pagination" (click)="showPagination()">+</button>
      <input *ngIf="inputP" class="new-todo" [placeholder]="inputHint" autofocus [(ngModel)]="paginationName" (keyup.enter)="newPagination(paginationNum)">
    </header>
    <app-todo [todos]="todos" [pNum]="paginationNum" [p]="pagination"></app-todo>
    <app-footer *ngIf="todos.length > 0" [todos]="todos" (clearCompleted)="clearCompleted()" (filterChange)="filterChange($event)"></app-footer>
  </section>


  <footer class="info">
    <p>Double-click to edit a todo</p>
    <!-- Remove the below line ↓ -->
    <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
    <!-- Change this out with your name and url ↓ -->
    <p>Created by <a href="http://todomvc.com">you</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
  </footer>
</div>
